.login-box {
  position: absolute;
  background-color: #F2F2F2;
  height: 50%;
  min-height: 350px;
  margin-top: 12%;
  margin-left: 25%;
  width: 50%;
}

.login-header {
  color: #F2F2F2;
  font-size: x-large;
  padding: 1% 15px 0 15px;
  height: 15%;
  background: linear-gradient(#754E7A, #594159)
}

.login-form {
  padding: 0 15px 0 15px;
}

.custom-row {
  margin-top: 40px;
}


.btn-row {
  line-height: 50px;
}

