<div class="">
  <div class="login-box">
    <div class="login-header">
      <div class="row">
        <div class="col-md-11 col-md-offset-1">
          Movies App - Login
        </div>
      </div>
    </div>
    <div class="login-form">
      <form *ngIf="this.loginForm" [formGroup]="loginForm" novalidate>
        <div class="row custom-row">
          <div class="col-md-12 col-lg-10 offset-lg-1">
            <div class="ui-inputgroup custom-inputs">
              <input type="text" formControlName="username" [(ngModel)]="loginVm.username" pInputText placeholder="Username">
              <span class="ui-inputgroup-addon">
                <i class="fa fa-user"></i>
              </span>
            </div>
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!loginForm.controls['username'].valid&&loginForm.controls['username'].dirty">
              <i class="fa fa-close"></i>
              Username is required
            </div>
          </div>
        </div>
        <div class="row custom-row">
          <div class="col-md-12 col-lg-10 offset-lg-1">
            <div class="ui-inputgroup custom-inputs">
              <input type="password" formControlName="password" [(ngModel)]="loginVm.password" pInputText placeholder="Password">
              <span class="ui-inputgroup-addon">
                <i class="fa fa-lock"></i>
              </span>
            </div>
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!loginForm.controls['password'].valid&&loginForm.controls['password'].dirty">
              <i class="fa fa-close"></i>
              Password is required
            </div>
          </div>
        </div>
      </form>
      <div class="row custom-row btn-row">
        <div class="col-md-4 col-lg-3 offset-lg-1">
          <button pButton type="button" (click)="login()" [disabled]="!loginForm.valid" class="custom-btn" label="Sign In"></button>
        </div>
        <div class="col-md-6 col-lg-5 offset-lg-1">
          <span (click)="lostPass()" style="cursor:pointer">Lost your password?</span>
        </div>
      </div>
      <div class="row">
        <div class="col-7 offset-5 ">
          <span *ngIf="recoverMsg">{{recoverMsg}}</span>
        </div>
      </div>
    </div>
  </div>
</div>


<p-dialog [(visible)]="displayDialog" modal="modal" [width]="800" [responsive]="true" [resizable]="false" (onHide)="closeDialog()">
  <p-header class="detail-header">
    Password Recovery
  </p-header>
  <form *ngIf="this.emailForm" [formGroup]="emailForm" novalidate>
    <div class="row" style="padding-bottom:35px;">
      <div class="col-12">
        <div class="ui-inputgroup custom-inputs">
          <input type="text" [(ngModel)]="email" formControlName="email" pInputText placeholder="Enter Your Email">
          <span class="ui-inputgroup-addon">
            <i class="fa fa-envelope"></i>
          </span>
        </div>
        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!emailForm.controls['email'].valid&&emailForm.controls['email'].dirty">
          <i class="fa fa-close"></i>
          Email is required
        </div>
      </div>
    </div>
  </form>
  <p-footer>
    <div class="row">
      <div class="col-2 offset-10">
        <button pButton type="button" (click)="recoverPassword()" [disabled]="!emailForm.valid" class="custom-btn" label="Send"></button>
      </div>
    </div>
  </p-footer>
</p-dialog>
